

div(class="background_wrapper_third")
		div( class="container")
			div( class="row")
				div( class="form")

					div( class="form_header col-lg-7 col-md-6 col-sm-6 col-xs-12")
						h2.h2 Lorem ipsum dolor sit amet, consectetur adipiscing elit.
						p Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget.
					

					form(action="#" class="col-lg-5 col-md-6 col-sm-6 col-xs-12")
						input(type="text" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" placeholder="Ваше имя")
						input(type="text" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" placeholder="Ваш телефон")
						input(type="text" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" placeholder="Ваш email")
						input(type="submit" class="button col-lg-12 col-md-12 col-sm-12 col-xs-12" value="Отправить")
