div(class="background_wrapper_second")
		div(class="container")
			div(class="row")
				div(class="free")
					h4(class="col-sm-offset-2 col-sm-8 h4") Опробуйте бесплатно возможности M4M на нашем демо сайте
					button(type="button" class="button_big") Попробовать бесплатно