div(class="container")
    div( class="row")
        div( class="econom")
            h2.h2 Как начать экономить?
            h3.h3 Lorem ipsum dolor sit amet, consectetur
            div( class="instructions")
                div( class="instruction_top")
                    div( class="instruction_text")
                        span Lorem ipsum dolor sit amet, consectetur adipiscing elit
                        h6.h6 Заголовок
                        div(class="number") 1
                div(class="instructions_bottom")
                    div(class="number") 2
                    div(class="instruction_text")
                        h6.h6 Заголовок
                        span Lorem ipsum dolor sit amet, consectetur adipiscing elit
                div( class="instruction_top")
                    div( class="instruction_text")
                        span Lorem ipsum dolor sit amet, consectetur adipiscing elit
                        h6.h6 Заголовок
                        div(class="number") 3
                div( class="instructions_bottom")
                    div( class="number") 4
                    div( class="instruction_text")
                        h6.h6 Заголовок
                        span Lorem ipsum dolor sit amet, consectetur adipiscing elit
                div( class="instruction_top") 
                    div( class="instruction_text")
                        span Lorem ipsum dolor sit amet, consectetur adipiscing elit
                        h6.h6 Заголовок
                        div(class="number") 5