
div(class="container")
    div(class="row")
        div(class="clients")
            h2.h2 Наши клиенты
            h3.h3 Кто нам доверяет
                div.clients_wrapper
                    -for(var i = 0; i< 6; i++)
                        div(class="client col-lg-2 col-md-4 col-sm-4")
                            img(src= clients_icons[i], alt="Клиент")