// header begins

div(class="background_wrapper_first")
    div(class="container")
        div(class="row")
            header(class="header clearfix")
                h1(class="logo col-lg-1 h1") M4M
                button(type="button" class="button col-lg-offset-9") Войти
                
            div(class="row")
                div(class="first")
                    h1(class="h1 col-lg-offset-3 col-lg-6 col-md-offset-2 col-md-8 col-sm-offset-1 col-sm-10") Следи за своими расходама онлайн с помощью наших счеткиков за 2 минуты
                    div(class="advantages col-lg-12 col-md-12")
                        -for (var i =0; i<4; i++)
                            div(class="advantage")
                                div(class="image")
                                span Первое преимущество
// header ends